# --------- DATABASE CONFIG ---------
# Options: postgresql/sqlite/mysql/mariadb
DB_ENGINE=postgresql
# If the engine is SQLite, fill only 'DB_SQLITE'

DB_USER=myuser

# If the password contains any strange character, it must be written with its '%__' code
DB_USER_PASSWORD=my_password

DB_IP_URL=192.168.1.100
DB_PORT=5432
DB_NAME=mydatabase

# Fill only if the engine is SQLite; e.g. /mibasedatos/basededatos.db
DB_SQLITE=



# --------- LOGGING CONFIG ---------
# true / false
LOG_TERMINAL=true

# File name, folder included if needed
LOG_FILE_NAME=logs/miscraper-dev.log

# In MB, min: 1 ; max: 65535 (65,5 GB)
LOG_FILE_MAX_SIZE=10

# Max: 255
LOG_FILE_MAX_BACKUPS=3

# In days, min: 1 ; max: 65535 (~179 years)
LOG_FILE_MAX_AGE=30

# true / false
LOG_FILE_COMPRESS=true



# --------- TELEGRAM BOTS ---------
TELEGRAM_CHAT_ID=
TELEGRAM_BOT_TOKEN=
