# --------- DATABASE CONFIG ---------
# Options: postgresql/sqlite/mysql/mariadb
DB_ENGINE=postgresql
# If the engine is SQLite, fill only 'DB_SQLITE'

DB_USER=myuser

DB_USER_PASSWORD=my_password

DB_IP_URL=192.168.1.100
DB_PORT=5432
DB_NAME=mydatabase

# Fill only if the engine is SQLite; e.g. /mibasedatos/basededatos.db
DB_SQLITE=



# --------- LOGGING CONFIG ---------
# Global min level logging, inclusive (Options: NONE, DEBUG, INFO, WARN, ERROR, FATAL)
# NONE will deactivate logging
# This affects to every other min level if they are defined as "d"/"default" or not defined
# If not defined or defined with "d"/"default", WARN by default
LOG_GLOBAL_MIN_LEVEL=DEBUG

# true / false
LOG_TERMINAL=true

# In terminal min level logging, inclusive (Options: NONE, DEBUG, INFO, WARN, ERROR, FATAL)
# NONE will deactivate logging
# If defined, will overwrite the Global value in this logging method
# If not defined or defined with "d"/"default", WARN by default
LOG_TERMINAL_MIN_LEVEL=d

# In file min level logging, inclusive (Options: NONE, DEBUG, INFO, WARN, ERROR, FATAL)
# NONE will deactivate logging
# If defined, will overwrite the Global value in this logging method
# If not defined or defined with "d"/"default", WARN by default
LOG_FILE_MIN_LEVEL=d

# File name, folder included if needed
LOG_FILE_NAME=logs/miscraper-dev.log

# In MB, min: 1 ; max: 65535 (65,5 GB)
LOG_FILE_MAX_SIZE=10

# Max: 255
LOG_FILE_MAX_BACKUPS=3

# In days, min: 1 ; max: 65535 (~179 years)
LOG_FILE_MAX_AGE=30

# true / false
LOG_FILE_COMPRESS=true



# --------- EXTERNAL LOGS ---------
# Min level to log into the external system (Options: NONE, DEBUG, INFO, WARN, ERROR, FATAL)
# NONE will deactivate logging
# If defined, will overwrite the Global value in this logging method
# If not defined or defined with "d"/"default", WARN by default
EXTERNAL_LOG_MIN_LEVEL=WARN

# Options: none, telegram, webhook
EXTERNAL_LOG_PROVIDER=telegram

# --- TELEGRAM CONFIG ---
# Required if PROVIDER=telegram
EXTERNAL_TELEGRAM_TOKEN=
EXTERNAL_TELEGRAM_CHAT_ID=

# --- GENERIC WEBHOOK CONFIG (Discord, Slack, Custom API) ---
# Required if PROVIDER=webhook
EXTERNAL_WEBHOOK_URL=
# Optional: Only needed if the external API requires an Auth header
EXTERNAL_WEBHOOK_AUTH_HEADER=
