# --------- DATABASE CONFIG ---------
DB_ENGINE=postgresql # Opciones: postgresql/sqlite/mysql/serversql/mariadb
# Si la bbdd es SQLite, solo rellenar 'DB_SQLITE'
DB_USER=miusuario
DB_USER_PASSWORD=mi_contraseña # Todos los simbolos raros deberían ir en su código '%__'
DB_IP_URL=192.168.1.100
DB_PORT=5432 # puerto por defecto de postgre
DB_NAME=mibasededatos

# Rellena solo este si la bbdd es SQLite:
DB_SQLITE= # Ej. /mibasedatos/basededatos.db



# --------- LOGGING CONFIG ---------
LOG_TERMINAL=true # true / false
LOG_FILE_NAME=logs/miscraper-dev.log # Nombre del archivo con carpeta si se quiere
LOG_FILE_MAX_SIZE=10 # En MB, mín: 1 ; máx: 65535 (65,5 GB)
LOG_FILE_MAX_BACKUPS=3 # Máx: 255
LOG_FILE_MAX_AGE=30 # En días, mín: 1 ; máx: 65535 (~179 años)
LOG_FILE_COMPRESS=true # true / false



# --------- TELEGRAM BOTS ---------
# Estos datos se obtienen en telegram
TELEGRAM_CHAT_ID=
TELEGRAM_BOT_TOKEN=
